@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --mc:#16a085;
}
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    /* background-color: #000; */
}

/* Start Header */

header{
    box-shadow: 0 2px 2.5px rgba(0,0,0,0.75);
}

.logo{
    font-size: 70px;
    color: var(--mc);
}



.lines1,.lines2,.lines3{
    width:26px;
    height:3px;
    margin:6px;
    transition: all .3s;
}

.crossxs .lines1{
    transform: rotate(-45deg) translate(-6px,6px);
}

.crossxs .lines2{
    opacity: 0;
}

.crossxs .lines3{
    transform: rotate(45deg) translate(-6px,-6px);
}

/* End Header */

/* Start Home Section */

.homecontents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homecontents .contact-btns{
    margin-top: 12px;
    background: none;
    color: var(--mc);
    box-shadow: -2px 2px 3px var(--mc);
    font-size: 22px;
    padding: 6px 12px;
    border:4px solid var(--mc);

    transition: all .2s;
}

.homecontents .contact-btns:hover{
    background-color: var(--mc);
    color: #fff;
}

/* End Home Section */

/* Start Box Section */

.fboxes{
    border:3px solid var(--mc);
    border-radius: 10px;
    text-align: center;
    box-shadow: -2px 2px 4px var(--mc);
}

.icons{
    font-size: 60px;
    color: var(--mc);
    padding: 16px;
}

/* End Box Section */

/* Start Services Section */
.cardbox{
    border:3px solid var(--mc);
    border-radius: 6px;
    transition: all .2s;
}

.cardbox:hover{
    transform: translate(6px,-6px);
    box-shadow: -3px 3px 4.5px var(--mc);
}

.cardbox-btns{
    background: none;
    color:var(--mc);
    border:3px solid var(--mc);
    font-size: 18px;
    padding:6px 12px;
    margin-bottom:12px;

    transition: all .3s;
}

.cardbox-btns .cardbox-btns-arrows{
    transform:translate(6px);
}

.cardbox-btns:hover{
    background-color: var(--mc);
    color:#fff;
}

/* End Services Section */

/* Start Doctors Section */

.card{
    transition: all .3s;
}

.card:hover{
    transform: translate(8px,-8px);
    box-shadow: -3px 3px 4px rgba(0,0,0,0.3);
}

.cardicons{
    font-size: 30px;
    text-align: center;
}

.cardicons i{
    margin:0 12px;
    transition: all .5s;
}

.cardicons i:hover{
    font-size: 42px;
    transform: rotate(360deg);
}

/* End Doctors Section */

/* Start Blog Section */

.blogbox{
    border: 3px solid var(--mc);
    border-radius: 9.5px;

}

/* End Blog Section */

/* Start Review Section */

.reviewstyle{
    border: 3px solid var(--mc);
    padding: 14px 18px;
}

.reviewstyle img{
    display: block;
    margin:12px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.reviewicon{
    font-size: 20px;
    text-align: center;
}

/* Start Book Section */

.modalbox{
    border: 3px solid var(--mc);
    padding: 10px 14px;
}

.modalbox .modalbox-title{
    color:var(--mc);
}

.book-btn{
    letter-spacing: 1px;
    background: none;
    color: var(--mc);
    padding: 6px 12px;
    border:3px solid var(--mc);

    transition: all .2s;
}

.book-btn:hover{
    background-color: var(--mc);
    color: #fff;
}

/* End Book Section */


/* End Review Section */




